header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  box-shadow: 0 2px 10px #cecece;
  padding: 15px 0 8px 0;
  background: #091c5a;
}

.branding {
  background: url("../images/cca.svg") no-repeat;
  display: block;
  width: 170px;
  height: 40px;
  float: left;
  text-indent: -9999px;
}

.branding a:link {
  color: #56627A;
  text-decoration: none;
  outline: 0;
}

nav {
  margin-top: 10px;
  float: right;
}

nav ul {
  list-style-type:  none;
  text-align: right;
}

nav li {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 20px;
  cursor: pointer;
  color: #fff;
}

nav li a:link {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

nav li a:visited {
  color: #08425A;
  text-decoration: none;
  outline: 0;
}

nav li a:hover {
  color: #264099;
  text-decoration: none;
}

nav li a:active {
  color: #091c5a;
  text-decoration: none;
}

#home {
  width: 100;
  padding: 100px 0;
  background-color: #000;
}

#home h2{
  text-align: center;
  font-weight: 900;
  color: #fff;
}

#home p{
  margin-bottom: 20px;
  text-align: left;
  color: #fff;
  font-weight: 400;
}

#hero-slide {
  margin-top: 79px;
  width: 100%;
  float: left;
  box-shadow: 9px 2px 5px 2px rgba(0, 0, 0, 0.12);
}
#photo-products {
  width: 100%;
  padding: 100px 0;
}

.type-overlay h1{
  fnot-weight: 100;
  position: absolute;
  top: 350px;
  width: 100%;
  z-index: 5;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  
	
}

#what {
  width: 100;
  padding: 100px 0;
  padding-top: 100px;
  background-color: #fff;
}

#what h2{
  text-align: center;
  font-weight: 700;
  padding-top: 100px;
}

#what h3{
  text-align: center;
  font-weight: 700;
}

#what p{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

#facts {
  width: 100;
  height: 200;
  padding: 100px 0;
  background: url(../images/texture.jpg);
}

#facts h2{
  text-align: center;
  font-weight: 700;
  color: #000;
}

#facts p{
  margin-bottom: 20px;
  text-align: center;
  color: #000;
  font-weight: 400;
}

.facts .columns_3 {
  width: 300px;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  height: 170px;
}

.facts .columns_3 p {
  text-align: center;
  margin-bottom: 0;
}

.icon-content {
   width: 100px;
   height: 100px;
   align-content: center;
   padding-bottom: 60px;
   padding-left: 100px;
	   
}



#before {
  width: 100%;
  padding: 100px 0;
  background-color: #638787;
  overflow: hidden;
}

.before-title {
  color: #ffffff;
  text-align: center;
  line-height: 1.8em;
  font-weight: 700;
}

.before-intro p {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-weight: 400;
}

.before-intro a:link {
  text-decoration: none;
  color: #ffffff;
}
.
.before-grid .columns_3 {
  width: 300px;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  height: 170px;
}

.before-grid .columns_3 p {
  text-align: center;
  margin-bottom: 0;
  font-weight:400;
  color: #FFF;
}

.before-grid {
  overflow: hidden;
  clear: both;
  margin-bottom: 10px;
  padding-top: 30px;
}



#how {
  width: 100;
  padding: 100px 0;
  background: url(../images/water.jpg);
}

#how h2{
  text-align: left;
  font-weight: 700;
}

#how p{
  margin-bottom: 20px;
  text-align: left;
  font-weight: 400;
  
}

video {
  width: 100%;
  background-color: #000000;
  padding: 100px 0;
}

/*#membership {
  width: 100;
  padding: 100px 0;
  background-color: #fff;
}

#membership h2{
  text-align: center;
  font-weight: 700;
  color: #000;
}
.membership-container{
  padding: 100px 0 100px 0;
	
}*/

/* Membership Subscriptions */

#memberships .columns_3 {
  box-shadow:  4px 3px 8px #ccc;
}

#memberships .container {
  overflow: visible;
}

#memberships {
  padding: 100px 0;
  background-color: #EEEEEE;
}

#memberships h2 {
  font-weight: 700;
  color: #000000;
  text-align: center;
}
#memberships p {
  font-size: 1.5em;
  font-weight: 100;
  color: #000000;
  text-align: left;
}

.membership-plans {
  margin-top: 40px;
	float: left;
}

.membership-free,
.membership-monthly,
.membership-yearly {
  font-size: 2em;
  color: #000000;
  text-align: center;
  padding: 20px 0;  
}

.membership-free {
  background-color: #ffffff;
}

.membership-monthly {
  background-color: #ffffff;
}

.membership-yearly {
  background-color: #ffffff;
}

.membership-cost {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  padding: 10px 0;
  background-color: #638787;
}

.membership-features {
  font-size: 1.2em;
  color: #000000;
  text-align: center;
  padding: 30px 0 20px 0;
  background-color: #F6F6F6;
}

.membership-features ul {
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

.membership-features li {
  list-style: none outside none;
  padding: 0 20px 10px 20px;
}

.membership-btn {
  margin: 30px auto;
}

.membership-btn a:link {
  outline: 0;
  border-radius: 5px;
  background-color: #DC7435;
  padding: 10px 30px;
  font-size: .9em;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.membership-btn a:visited {
  color: #ffffff;
}

.membership-btn a:hover {
  background-color: #EDAB83;
  color: #000000;
}

.membership-btn a:active {
  color: #ABABAB;
}






#contact {
  width: 100;
  padding: 100px 0;
  background: url(../images/glacier.jpg);
}

#contact h2{
  text-align: center;
  font-weight: 700;
  color: #000;
}

#contact p{
  margin-bottom: 20px;
  text-align: left;
  color: #000;
	font-weight: 400;
}

#contact {
	width: 100%;
	padding: 100px 0 100px 0;
	background-color: #6079a5;
	float: left;
	}
	
#contact h2 {
	padding-bottom: 20px;
	}
		
#contact p {
	padding-top: 20px;
	}	
	
.contact-form img {
	width: 460px;
	padding: 0;
	font-family: 'Playfair Display', sans-serif;
	font-size: 0.9em;
	font-weight: 100;
	color: #FFFFFF;
	}
	
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea
.contact-form select {
	font-weight: 100;
	color: #888;
	padding: 5px 5px 5px 10px;
	border: 1px solid #6079a5;
	height: 35px;
	margin-bottom: 25px;
	outline: 0 none;
	width: 460px;
	}
	
.contact-form textarea {
	height: 200px;
	}
	
#message {
	height: 200px;
	width: 935px;
	}
	
.contact-form select {
	text-indent: 0.01px;
	text-overflow: '';
	width: 100%;
	height: 35px;
	}
	
.city {
	text-transform: uppercase;
	font-weight: 900;
	}
	
	
.contact-form input.button {
	width: 100px;
	/*same as the height*/
	height: 40px;
	/*same as the width*/
	background-color: #DC7435;

	/*same colour as the background*/
	color: #000000;
	font-size: 1.1em;
	webkit-appearence: none;
	/*set the border-radius at half the width and height*/
	webkit-border-radius: 35px;
	moz-border-radius: 35px;
	border-radius: 35px;
	border: none;
	}
	
.contact-form input.button {
	color: #000000;
	}


@font-face {
      font-family: 'jb-iconfont';
      src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/788826/jb-iconfont.eot?41952989');
      src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/788826/jb-iconfont.eot?41952989#iefix') format('embedded-opentype'),
           url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/788826/jb-iconfont.woff?41952989') format('woff'),
           url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/788826/jb-iconfont.ttf?41952989') format('truetype'),
           url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/788826/jb-iconfont.svg?41952989#jb-iconfont') format('svg');
      font-weight: normal;
      font-style: normal;
    }

footer {
	display: block;
	width: 100%;
	float:left;
}

#icon-font {
  width:  100%;
  padding:  50px 0;
  background-color: #B3AEA8;
}
#icon-font p {
  font-family:  "jb-iconfont";
  text-align: center;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}
#icon-font .icons {
  font-family:  "jb-iconfont";
    text-align: center;
    font-size: 3em;
    line-height: 1.5;
    color: #fff;
}
#icon-font .lg icon {
  font-family:  "jb-iconfont";
    text-align: center;
    font-size: 83em;
    line-height: 1.1;
    color: #EB6361;
    color: #E35252;
}
.icons p {
  font-size: .8em;
}



/*
============================================================
  Parallax CSS SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 100px 0;
  background-color: #F2F2F2;
}
section.module2.content {
  padding: 100px 0;
  background: rgba(246, 92, 81, 1);
}
section.module3.content {
  padding: 100px 0;
  background-color: #F2F2F2;
}
section.module.parallax {
  height: 800px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  margin-top: 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 800px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quote {
  font-size: 1em;
}

section.module.parallax-1 {
  background-image: url("../images/pano_two.jpg");
  background-color: #c95347;
}
section.module.parallax-2 {
  background-image: url("../images/pano_one.jpg");
  background-color: #58595B;
}
section.module.parallax-3 {
  background-image: url("../images/desktop.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 19px;
  }
}

/* ------- [ End Parallax CSS ] ------- */
